{% extends "base.html" %}
{% block content %}
<h2>Create account</h2>
{% if error %}<div>{{ error }}</div>{% endif %}
<form method="post">
  <p>
    <label>Username</label><br>
    <input type="text" name="username" maxlength="32" required>
  </p>
  <p>
    <label>Password</label><br>
    <input type="password" name="password1" maxlength="64" required>
  </p>
  <p>
    <label>Repeat password</label><br>
    <input type="password" name="password2" maxlength="64" required>
  </p>
  <p><button type="submit">Create account</button></p>
</form>
{% endblock %}